 /** {
     margin: 0;
     padding: 0;
 }

 .head {
     background: white;
     height: 10vh;
 }

 .icon {
     font-size: 40px;
     padding: 0 5vh;
 }

 .nav {
     float: right;
     margin: 2.5vh 2vw;
     margin-right: 5vw;
 }

 button {
     width: 10vw;
     height: 5vh;
     max-width: 100px;
     margin:0 5px;;
     color: #A020F0;
     font-size: 18px;
     border:1.5px solid #A020F0;
     background:white;
     transition:background 1s;
     transition: color 0.5s;
     font-weight: 500;
 }
button:hover{
    background: #A020F0;
    color: white;
}
 .parallel {
     background: green;
     height: 90vh;
 }

 .main {
     background: aqua;
     background:#1a202c;
 }

 .abt {
     background: blue;
     min-height: 70vh;
 }

 .contact {
     background: gray;
     height: 50vh;
 }

 .foot {
     background: yellow;
     height: 10vh;
     font-size: 25px;
     text-align: center;

 }

 .parallel {
     background-image: url(https://images.pexels.com/photos/1148998/pexels-photo-1148998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
 }

 .products {
     padding: 5vh;
 }

.image img {
     width: 100%;
     border-radius: 20px;
     border: none;
     filter:  grayscale(5%);
     opacity: 0.8;
 }

 .image{
     float: left;
     width: 30%;
     padding: 2% 1.6%;
     
}
 .abt {
     padding: 0 5vh 5vh;
 }

 .about {
     width: 30%;
     text-align: justify;
     font-size: 20px;
     float: left;
     padding: 0 5%;
 }

 .a {
     margin-left: 10%;
 }

 .b {
     width: 35%;
     margin-right: 5%;
 }

 .abt_img {
     width: 100%;

 }


 .clearfix {
     content: "";
     display: table;
     clear: both;
 }

 .heading {
     font-size: 40px;
     text-align: center;
     padding: 10px;
 }
/*.main{
    background: url(https://images.pexels.com/photos/2501965/pexels-photo-2501965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}
/*.abt{
    background: url(https://images.pexels.com/photos/1005644/pexels-photo-1005644.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}//
 @media only screen and (max-width:850px) {
     .image {
         width: 45%;
         padding: 2% 2.5%;
     }

     .a {
         margin: 0;
     }

     .b {
         margin: 0;
     }

     .about {
         width: 40%;
         text-align: justify;
         font-size: 20px;
         float: left;
         padding: 0 5%;
     }
 }

 @media only screen and (max-width:450px) {
     .image {
         width: 85%;
         padding: 2% 7.5%;
     }
 }
.image img:hover{
    filter:  none;
    opacity: 1;
} */
* {
     margin: 0;
     padding: 0;
 }

 .head {
     background: #1a202c;
     height: 10vh;
 }

 .icon {
     font-size: 40px;
     padding: 0 5vh;
 }

 .nav {
     float: right;
     margin: 2.5vh 2vw;
     margin-right: 5vw;
 }

 button {
     width: 10vw;
     height: 5vh;
     max-width: 100px;
     margin:0 5px;;
     color: orangered;
     font-size: 18px;
     border:1.5px solid orangered;
     background:#1a202c;
     transition:background 1s;
     transition: color 0.5s;
     font-weight: 500;
 }
button:hover{
    background: orangered;
    color: white;
}
 .parallel {
     background: green;
     height: 90vh;
 }

 .main {
     background: aqua;
     background:#1a202c;
 }

 .abt {
     background: blue;
     min-height: 70vh;
 }

 .contact {
     background: gray;
     height: 50vh;
 }

 .foot {
     background: yellow;
     height: 10vh;
     font-size: 25px;
     text-align: center;

 }

 .parallel {
     background-image: url(https://images.pexels.com/photos/1148998/pexels-photo-1148998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
 }

 .products {
     padding: 5vh;
 }

.image img,.parallel {
     width: 100%;
     border-radius: 20px;
     border: none;
     filter:  grayscale(5%);
     opacity: 0.8;
 }

 .image{
     float: left;
     width: 30%;
     padding: 2% 1.6%;
     
}
 .abt {
     padding: 0 5vh 5vh;
 }

 .about {
     width: 30%;
     text-align: justify;
     font-size: 20px;
     float: left;
     padding: 0 5%;
 }

 .a {
     margin-left: 10%;
 }

 .b {
     width: 35%;
     margin-right: 5%;
 }

 .abt_img {
     width: 100%;

 }


 .clearfix {
     content: "";
     display: table;
     clear: both;
 }

 .heading {
     font-size: 40px;
     text-align: center;
     padding: 10px;
 }
/*.main{
    background: url(https://images.pexels.com/photos/2501965/pexels-photo-2501965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}
/*.abt{
    background: url(https://images.pexels.com/photos/1005644/pexels-photo-1005644.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}*/
 @media only screen and (max-width:850px) {
     .image {
         width: 45%;
         padding: 2% 2.5%;
     }

     .a {
         margin: 0;
     }

     .b {
         margin: 0;
     }

     .about {
         width: 40%;
         text-align: justify;
         font-size: 20px;
         float: left;
         padding: 0 5%;
     }
 }

 @media only screen and (max-width:450px) {
     .image {
         width: 85%;
         padding: 2% 7.5%;
     }
 }
.image img:hover,.parallel:hover{
    filter:  none;
    opacity: 1;
}