* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    background: #1a202c;
}

.icon {
    font-size: 50px;
    text-align:left;
    margin-left: 5vw;
}
@media only screen and(max-width:620px){
    .head{
        display: block;
        margin: 500px;
    }
}
.nav {
    float: right;
    margin: 2.5vh 2vw;
    margin-right: 5vw;
}

button {
    width: 10vw;
    height: 5vh;
    max-width: 100px;
    margin: 0 5px;
    color: orangered;
    font-size: 18px;
    border: 1.5px solid orangered;
    background: #1a202c;
    transition: background 1s;
    transition: color 0.5s;
    font-weight: 500;
}

button:hover {
    background: orangered;
    color: white;
}

.parallel {
    background: green;
    height: 90vh;
}

.main {
    background: #1a202c;
}

.abt {
    background: #1a202c;
}

.contact {
    background: #1a202c;
    padding: 1%;
    padding-bottom: 2%;
}

.foot {
    background: yellow;
    height: 10vh;
    font-size: 25px;
    text-align: center;

}

.parallel {
    background-image: url(images/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.products {
    padding: 5vh;
}

.kl {
    background: #1a202c;
}

h6 {
    text-align: center;
    font-family: sans-serif;
    background: url(images/1.jpg);
    color: transparent;
    font-size: 80px;
    font-weight: 1000;
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;

}

.image img {
    width: 100%;
    border-radius: 20px;
    border: none;
    filter: grayscale(5%);
    opacity: 0.8;
}

.parallel {
    filter: grayscale(5%);
    opacity: 0.8;
}

.image {
    float: left;
    width: 33%;
    padding: 2%;

}

.abt {
    padding: 0 5vh 5vh;
    color: white;
}

.ab_t {
    margin: auto;
    width: 90%;
}

.about {
    width: 50%;
    text-align: justify;
    font-size: 20px;
    float: left;
    padding: 0 5%;
}

/*.abt{
    background-image: url(images/main.jpg);
    background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}*/

.abt_img {
    width: 100%;
}


.clearfix {
    content: "";
    display: table;
    clear: both;
}

.heading {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

/*.main{
    background: url(https://images.pexels.com/photos/2501965/pexels-photo-2501965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}
/*.abt{
    background: url(https://images.pexels.com/photos/1005644/pexels-photo-1005644.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}*/
input,textarea {
    margin: 1% 0;
    width: 49.75%;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 2vh;
}

@media only screen and (max-width:850px) {
    input{
        width: 100%;
    }

    .image {
        width: 50%;
        padding: 2%;
    }
    .ab_t {
        width: 100%;
    }
}

@media only screen and (max-width:450px) {
    .image {
        width: 85%;
        padding: 2% 7.5%;
    }
}
textarea{
    width: 100%;
    height:12vh;
}
.image img:hover,
.parallel:hover {
    filter: none;
    opacity: 1;
}

.form {
    width: 60%;
    margin: auto;
}

.msg {
    width: 100%;
    min-height: 12vh;
}